header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.icons-rede {
  display: flex;
  gap: 1rem;
  place-items: center;
}

.icons-rede img {
  padding: .5rem;
  background-color: aliceblue;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
}

.icons-call {
  display: flex;
  gap: 1rem;
  place-items: center;
}

.icons-call img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: aliceblue;
}

.icons-call li {
  display: flex;
  flex-wrap: wrap;
  font-size: 2.25rem;
  text-transform: uppercase;
  color:  aliceblue;
}

